body, html {
    font-family: verdana, sans-serif;
    background: #ffffff url("gradient.png") repeat-x top;
    height: 90%;
}

#channelname  h1{
       font-size:1.4em;
}
#channeltopic {
   width:70%;
}

#main{
    position:relative;
    height: 80%;
}

#chatlog {
    background-color: #fdfdfd;
    border: 1px solid #999999;
    width: 70%;
    padding: 2em;
    height: 80%;
    overflow: scroll;
}

#chatlog .first {
    display:block;
    float:left;
    margin: 0 3px 0 -10px;
}
#chatlog .nick {
  font-weight: bold;
}
#chatlog .action {
    font-style: italic;
}
#chatlog p {
    margin: 2px 0px;
}

#userlist {
    position: absolute;
    top: 0;
    right: 2%;
    width: 15%;
    padding: 1.5em;
    background-color: #fdfdfd;
    border: 2px solid #999999;
}

#userlist h2{
    font-size:1.2em;
    margin: 0;
}

#userlist ul {
    margin: 0px;
}
