body {
  font-family: sans-serif;
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: white;
  }
}
